@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-pending: #f59e0b;
  --color-booked: #10b981;
  --color-cancelled: #ef4444;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}
